.listUL{
    position: relative;
    margin-top: 20px;
}

.listUL.disable::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0,0,0, 0.3);
    z-index: 5;
}

.list-listGroup{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 5px;
    cursor: grab;
}

.remove-btn.list {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: auto;
    width: 15px;
    height: 15px;
    padding: 0;
    line-height: 5px;
}

.list-formGroup {
    width: 100%;
    padding: 0;
}

.list-checkbox {
    display: block;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

.list-date {
    color: #222;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 5px;
}